body, div, span, ul, li, ol, section, form, input, button, select, option, textarea, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input, textarea {
    border: 1px solid #C0C0C0;
}

.layout.default {
    /*overflow: hidden;*/
}

.layout.default > .row {
    overflow: hidden;
}

.layout.default > .row > .col {
    float: left;
    margin-left: 20px;
}

.layout.default > .row > .col:first-of-type {
    margin-left: 0;
}

/* common */

.ui-component .header .remove {
    float: right;
}

.ui-component .header > span {
    font-weight: bold;
}

/* covenant */

.ui-component.covenant {
    background-color: gainsboro;
}

/* component */

.ui-component.component {
    background-color: yellow;
}

.ui-component.covenant textarea {
    width: 99%;
    height: 100px;
}

/* component list */

.ui-component.component-list {
    background-color: goldenrod;
}

.ui-component.component-list > .list {
    margin-top: 10px;
}

.ui-component.component-list-item {
    border-bottom: 1px solid #C0C0C0;
    cursor: default;
}

/* composite component */

.ui-component.composite-component {
    background-color: hotpink;
}

/* component value */

.ui-component.value-static {
    background-color: bisque;
}

.ui-component.value-template {
    background-color: cadetblue;
}

/* template editor */